.App {
  padding: 2em;
}

.App h1 {
  font-size: 1.8em;
}

.App h2 {
  font-size: 1.4em;
}

.done {
  color: green;
  text-decoration: line-through;
}

.todo {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: yellow;
  border-radius: 1em;
  margin: 0 0 1em 2em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-weight: bold;
}